*.DS_Store
*.csv 
*.log
*.RData    
*.Rhistory
*.json
old
old/*
OLD
OLD/*
1_simulation/sim_v2/job_output/*
*.xgb
*.rds

!ep0.rds
!ep00.rds

!fitted_models
!*/fitted_models/*
!param_tuning_results_FINAL

!plots_decisions
!results_confusion_matrix
!results_stability_analysis


